<div class="w-full" data-controller='beers'>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Beers</h1>
    <div>
      <input type="text" placeholder= "Filter" data-action="keyup->beers#filter">
    </div>
  </div>
  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Id</div>
      <div>Name</div>
    </div>
    <div data-beers-target='preview' id='beers-preview'>
      <% @beers.each do |beer| %>
        <%= render 'beers/beer', beer: beer %>
      <% end %>
    </div>
    <%== pagy_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
  </div>
</div>